
[class*="span"] {
  position: relative;
}

.push6 {
  left: 480px;
}
.pull6 {
  right: 480px;
}

.push3 {
  left: 240px;
}
.pull3 {
  right: 240px;
}


@media (min-width: 1200px) {
  body {}

  div#content { min-height: 350px; }
}

@media (min-width: 2000px) {
  body {}
    
  div#content { min-height: 600px; }
}

@media (min-width: 2500px) {
  body {}
    
  div#content { min-height: 700px; }
}


@media (min-width: 768px) and (max-width: 979px) {
  body {}

 
}

@media (max-width: 767px) {
  body {}

}

@media (max-width: 480px) {
  
}

@media (max-width: 979px) {

}

@media (min-width: 980px) {

}
