
body.toolbar {
    padding-top: 30px !important;
}

.menu-block-wrapper ul {
    margin: 0;
    padding: 0;
}
.menu-block-wrapper ul li a {
    background: none repeat scroll 0 0 rgba(88, 95, 105, 0.05);
    border: 1px solid rgba(55, 124, 168, 0.1);
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 1px;
    padding: 8px 0.5em;
    color: #000;
}
.menu-block-wrapper ul li a i {
    opacity: 0.6;
    transition: all 0.2s ease-in 0s;
}
.menu-block-wrapper ul li a:hover {
    background: none repeat scroll 0 0 rgba(88, 95, 105, 0.1);
}
.menu-block-wrapper ul li a:hover i {
    opacity: 0.9;
}
.menu-block-wrapper ul li.active a {
    background: none repeat scroll 0 0 #3C495A;
    color: #FFF;
}
.menu-block-wrapper ul li ul {
    background: none repeat scroll 0 0 rgba(88, 95, 105, 0.1);
    border: 1px solid rgba(88, 95, 105, 0.3);
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 1px;
    padding: 8px 1em;
}

.region-sidebar-first .headline {
    margin-top: 0px !important;
}



.loginbar li ul {
    background: none repeat scroll 0 0 #F0F0F0;
    border-radius: 3px 3px 3px 3px;
    display: none;
    left: -6px;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 4px;
    position: absolute;
    top: 30px;
}


img#logo-footer {
    position: relative;
    top: -5px;
}


/** BLOG RELATED STYLES **/

article.blog div.field-type-image {
    float: right;
    margin-left: 30px;
}

/** END BLOG RELATED STYLES **/



div#content div.sidebar-left {
    margin-left: 0px;
}

.editsection {
    display: none;
}

.well .nav {
    background: none !important;
}

.productVersion div.btn-group {
    width: 270px;
}


.navbar {
  float: right;
}



.section-menu ul.nav-list {
    border-right: 1px solid #E6E6E6;
    margin-left: 0;
    padding: 2em 0;
}
.section-menu ul.nav-list li.nav-header {
    margin: 0;
    padding-left: 5px;
}
.section-menu ul.nav-list li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-border-start-color: #E6E6E6;
    -webkit-border-end-color: #E6E6E6;
    -webkit-border-before-color: #E6E6E6;
    -webkit-border-after-color: #E6E6E6;
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: -moz-use-text-color #E6E6E6 #E6E6E6;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 1px 1px 1px #FFFFFF;
    color: rgba(36, 36, 36, 0.7);
    font-size: 15px;
    font-weight: bold;
    margin: 0 -1px 0 3px;
    padding: 8px 15px;
    position: relative;
    text-shadow: none;
}
.section-menu ul.nav-list li.first a {
    border-top: 1px solid #E6E6E6;
}
.section-menu ul.nav-list li a:hover {
    background: none repeat scroll 0 0 #F0F0F0;
}
.section-menu ul.nav-list li a:hover i {
    color: #55A79A;
}
.section-menu ul.nav-list li a i {
    color: #E6E6E6;
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: 4px;
}
.section-menu ul.nav-list li a small {
    color: rgba(36, 36, 36, 0.5);
    display: block;
    font-weight: normal;
}
.section-menu ul.nav-list li.active > a, .section-menu ul.nav-list li.active > a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 4px solid #E74C3C;
    border-right-color: #FFFFFF;
    color: rgba(36, 36, 36, 0.8);
    margin: 0 -1px 0 0;
}
.section-menu ul.nav-list li.active > a i, .section-menu ul.nav-list li.active > a:hover i {
    color: #55A79A;
}

.section-menu li.separator {
  display: none;
}




ul.nav > ul.nav {
  margin-left: 10px;
}


.loginbar {
  top: -3px;
}
.loginbar li {
  margin-bottom: 0px !important;
}
.loginbar li:after {
  content: " - ";
}
.loginbar li.last:after {
  content: "";
}

.logo {
  top: 3px;
}



.admin-menu {
  float: left;  
  position: relative;
  left: 215px;
  top: 9px;
}
