/*Top Bar (login, search etc.)
------------------------------------*/
.loginbar {
	margin:0;
	padding:8px 0;
	list-style:none;
	text-align:right;
}

.loginbar li {
	margin-left:1%;
	margin-bottom:1px;
}

.loginbar li a {
	font-size:12px;
	color: #777;
}

.loginbar li a:hover {
  	opacity:0.7;
	color:#72c02c;
	text-decoration:none;
	-webkit-transition:all 0.3s ease-in-out;
  	-moz-transition:all 0.3s ease-in-out;
  	-o-transition:all 0.3s ease-in-out;
  	-ms-transition:all 0.3s ease-in-out;
  	transition:all 0.3s ease-in-out;
}

/*Header (logo and menu)
------------------------------------*/
.header {
	background:#585f69;
	border-bottom:solid 1px #eee;
}

.header .container {
	position:relative;
}

.logo {
	float:left;
	margin-left:5px;
	padding:17px 0 10px;
}

/*Menu*/
.navbar, 
.navbar-inner, 
/*.nav,*/
.navbar-inverse {
	margin:0;	
	padding:0;
	border:none;
	filter:none !important;
	background:#585f69 !important;
	-webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
}

.navbar-inner {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.navbar .nav {
	margin-right:0;
}
.navbar .nav > li { 
	display:block; 
	position:relative;
}
.navbar .nav > li { display:block;}
.navbar .nav > li > a {
	font-family:'Monda';
	font-size: 16px;
	color: #fff;
	display:block;
	text-shadow: none;
	margin-left:1px;
	padding:22px 18px 19px;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	background:#3c495a !important;	
  	color:#fff;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color: #fff !important;	
  	text-decoration: none;
  	background-color: #72c02c !important;	
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}
.navbar .nav > .active > a:hover {	
	background: #72c02c !important;		
  	color: #fff !important;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}
.navbar .nav > li > a .caret {
  border-top-color: #fff !important;	
  border-bottom-color: #fff !important;
  margin:12px 0 0 2px !important;
}

.dropdown-menu { 
	background:#585f69; 
	min-width:195px;
	padding:0; 
	margin:0 0 0 1px; 
	border:none; 
	border-radius:0; 
	border-bottom:solid 1px #3c495a; 
	border-top:solid 1px #3c495a;
	z-index:99999;
}

.dropdown-menu a { 
	font-size:13px; 
	font-family: 'Monda'; 
	color:#fff !important; 
	padding:8px 15px !important; 
	border-bottom:solid 1px #888;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	color: #ffffff;
	background: #3c495a !important;	
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	filter:none !important;
}

.dropdown-menu .active > a {
	color: #ffffff !important;
  	background: #3c495a !important;
	filter:none !important;
}
.dropdown-menu .active > a:hover {
  	color: #ffffff !important;
  	background: #3c495a !important;	
}

.collapse.in ul { 
	margin-top:10px !important; 	
}
.collapse.in li a { 
	padding:5px 10px;
	color:#fff !important;
}

.navbar .btn-navbar {
	padding:10px 15px;
	margin-top: 18px;
	background:#72c02c;
	border:none !important;	
}
.navbar .btn-navbar:hover {
	background:#5fb611;
}
.navbar .btn-navbar span, 
.navbar .btn-navbar:hover span {
	font-size:60px;
	background:#fff !important;
	box-shadow:none !important;
}
.navbar .nav > li > .dropdown-menu:after { 
	border-bottom-color:#585f69;
}

/*Tabs*/
.nav-tabs.tabs { 
	background:none !important;
}

/*Serach*/
.navbar .nav li a.search-nav {
	background:#3c495a !important;
	cursor:pointer;
}
.navbar .nav li a.search-nav:hover {
	background:#72c02c !important;
}
.navbar .nav li a.search-nav:hover i {
	color:#fff;
}
.navbar .nav li i.icon-search {
	font-size:18px;
	color:#999;
}

.navbar .search-open {
	right:0; 
	top:67px; 
	padding:15px; 
	display:none;
	z-index:99999; 
	position:absolute; 
	background:#585f69; 
}

.navbar .search-open form,
.navbar .search-open .input-append {
	margin:0 !important;	
}

.navbar a.search i.icon-remove {
	font-size:19px;
	padding-left: 1px;	
	padding-right: 1px;	
}