/* Common CSS Styles */
body {
    font-family: Arial;
}

a {
	color: #DF1E1B;
}

h2, h3, h4, h5, h6 {
	color: #555555;
}

.well {
	background-color: #F9F6F1;
}

div.page-header {
  background-color: #F9F6F1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28);
  margin-top: 0px;
  padding-top: 0px;
}

div.page-header-top {
    margin-bottom: 7px;
}

h1.page-header {
    margin: 0px;
    margin-bottom: 5px;
}

.navbar-inner {
	background-color: #CEC5B5;
	background-image: -moz-linear-gradient(center top, #F9F6F1, #CEC5B5);
	background-image: -webkit-linear-gradient(top, #F9F6F1, #CEC5B5);
	background-image: -o-linear-gradient(top, #F9F6F1, #CEC5B5);
	background-image: linear-gradient(top, #F9F6F1, #CEC5B5);
}


#main-menu li { margin-right: 40px; }
#main-menu ul.dropdown-menu li { margin-right: 0px; }
#main-menu li:last-child { margin-right: 0px; }


#searchform {
    margin-right: 0px;
}

.navbar .divider-vertical {
    border-left: 1px solid #CEC5B5;
    border-right: 1px solid  #F9F6F1;
}


.brand {
    text-indent: -10000px;
    background: url(logo.png) top left no-repeat;
    display: block;
    height: 40px;
    width: 308px;
}

#site-name-slogan {
    position: relative;
    bottom: -2px;
}

#topHeader {
    margin-bottom: 15px;
}
#pageFooter {
    background-color: #F5F5F5;
    height: 60px;
    margin-top: 20px;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #DF1E1B;
}

.navbar {
    margin-bottom: 0px;
    float: right;
}


/* Large desktop */
@media (min-width: 1200px) {
    body {}
    #main-menu li { margin-right: 13px; }
    #main-menu ul.dropdown-menu li { margin-right: 0px; }
    #main-menu li:last-child { margin-right: 0px; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body { padding-top: 50px;}
    .navbar {
        left: 0;
        margin-bottom: 0;
        position: fixed;
        right: 0;
        z-index: 1030;
    }
    div.page-header {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        background: none;
        box-shadow: none;
        margin: 0px !important;
        padding: 0px !important;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body { padding-top: 50px; }
    .navbar {
        left: 0;
        margin-bottom: 0;
        position: fixed;
        right: 0;
        z-index: 1030;
    }
    div.page-header {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        background: none;
        box-shadow: none;
        margin: 0px !important;
        padding: 0px !important;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    body { }

    #pageHeader,
    #pageContent,
    #pageFooter {
        padding: 10px;
    }
}
